@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-center flex-wrap gap-3">

        <!--User card-->

        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Користувачі </h5>
                <p class="card-text">Змінити роль користувача, або видалити його</p>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Змінити роль користувача </h5>
                <p class="card-text">Змінити роль користувача</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UserList">Змінити</a>
            </div>
        </div>

        <!--Change Card-->
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Редагувати</h5>
                <p class="card-text">Додати зміни до гри</p>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Змінити гру </h5>
                <p class="card-text">Замінити інформацію про гру</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="GameList">Редагувати</a>
            </div>
        </div>

        <!--Create Card-->
        <div class="card d-flex align-items-center justify-content-center" style="width: 18rem; background-color: #f8f9fa;">
            <div class="card-body text-center">
                <h5 class="card-title">Додати гру</h5>
                <p class="card-text">Додати нову гру</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AddGame">Додати</a>
            </div>

        </div>

   
    </div>
</div>
